*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titan One',cursive;
}
.maindiv{
    height: 390px;
    width: 1215px;
    background-color: #FFB8C9;
}
.h1{
    padding-top: 10%;
    padding-left: 9%;
    color: white;
    font-family: 'Titan One',cursive;
    font-weight: 400;
    font-size: 90px;
    line-height: 94.5%;
}
.t1{
    padding-top: 7%;
    padding-left: 9%;
    color: #C91254;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 60px;
    line-height: 94.5%;
}
.main1{
    display: flex;
}
.tab{
    margin-left: 25%;
}
.photo img{
    margin-top: 40px;
    padding-right: 20%;
    width: 160px;
    height: 160px;
    border: none;
    border-radius: 10px;
}
.nm{
    margin-left: 20px;
    font-weight: 700;
}
.price{
    color: #C91254;
    font-weight: 700;
}
.qt input{
    height: 30px;
    width: 65%;
    align-content: center;
    font-size: 15px;
    font-weight: 600;
    color: #C91254;
    background-color: #f8dbe2;
    border: none;
    border-radius: 6px;
}
.ord{
    height: 33px;
    width: 95px;
    border-radius: 25px;
    border: none;
    padding: 5px 10px;
    background-color: #C91254;
    margin-left: 5px;
    margin-top: 45px;
}
.ord input{
    text-decoration: none;
    border: none;
    background-color: #C91254;
    color: white;
    align-content: center;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    
}
.like{
    text-decoration: none;
    height: 10px;
    width: 70px;
    border-color: #C91254;
    border: 1px solid #EB9EB9;
    border-radius: 25px;
    padding: 10px 20px;
    margin-left: 1px;
    background-color: white;
}
.like input{
    text-decoration: none;
    border: none;
    background-color: white;
    color: #C91254;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
}