.footerdiv{
    margin-top: 6%;
    height: 450px;
    width: 1215px;
    background-color: #FFF5F7;
}
.footer{
    text-align: center;
    margin-top: 8%;
    color: #C91254;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
}

.logo2 img{
    margin-top: 8%;
    width: 63%;
    height: auto;
}